<table id="main_overview_table" class="table table-sm table-hover table-striped table-bordered" style="margin:20px auto">
  <caption style="caption-side:top;">
    <h1>Customer Overview</h1>
    <a ui-sref="customerDetails({customerId: 0})" class="btn btn-primary">
        Create new customer
        <span class="badge badge-secondary">{{$ctrl.count}}+</span>
    </button>
  </caption>
  <thead class="thead-inverse">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>options</th>
    </tr>
  </thead>
  <tr ng-repeat="id in $ctrl.users">
      <td> {{::$ctrl.UsersData.byId[id].first_name}} </td>
      <td> {{::$ctrl.UsersData.byId[id].last_name}} </td>
      <td> {{::$ctrl.UsersData.byId[id].birthday|ageFilter}} </td>
      <td> {{::$ctrl.UsersData.byId[id].gender|genderFilter}} </td>
      <td>
          <div class="flex__row">
              <a ui-sref="customerDetails({customerId: id})" class="btn btn-primary">
                Edit
              </a>
            <button class="btn btn-primary" ng-click="$ctrl.delete(id)">
                Delete
            </button>
            <a ui-sref="navi({customerId: id})" class="btn btn-success">
                Navi
            </a>
          </div>
      </td>
    </tr>
</table>