<div class="">
  <h1 ng-if="!$ctrl.user.customer_id">no valid user id provided</h1>
    <table ng-if="$ctrl.user.customer_id" ng-init="$reverseSort=false;$attr='pages'" id="main_overview_table" class="table table-sm table-hover table-striped table-bordered" style="margin:20px auto">
            <caption ng-hide="{{preview}}" style="caption-side:top;">
                <h1>{{$ctrl.user.first_name}} {{$ctrl.user.last_name}} Navigation history</h1>
              <a ui-sref="customerlist()" class="btn btn-primary">
                  back
                  <span class="badge badge-secondary">{{$ctrl.count}}+</span>
              </a>
            </caption>
            <thead class="thead-inverse">
              <tr>
                <th>
                        <a style="color:white" href="#" ng-click="$attr='pages';$reverseSort=!$reverseSort">
                                Pages
                                <span ng-show="$attr == 'pages'">
                                  <span ng-show="!$reverseSort">^</span>
                                  <span ng-show="$reverseSort">v</span>
                                </span>
                              </a>
                </th>
                <th>
                        <a style="color:white" href="#" ng-click="$attr='timestamp';$reverseSort=!$reverseSort">
                                Time stamp
                                <span ng-show="$attr == 'timestamp'">
                                  <span ng-show="!$reverseSort">^</span>
                                  <span ng-show="$reverseSort">v</span>
                                </span>
                              </a>
                </th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in $ctrl.history|orderBy:$attr:$reverseSort">
                    <th>{{entry.pages}}</th>
                    <th>{{entry.timestamp}}</th>
                </tr>
            </tbody>
    </table>

</div>